@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: Inter, sans-serif;
}

div {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 3px solid black;
    display: grid;
    align-items: center;
    text-align: center;
    color: white !important;
}

#second {
    background-color: purple;
}

#third {
    background-color: green;
    color: red;
    text-decoration: overline underline line-through wavy;
}

.fourth {
    background-color: black;
    color: red;
    /* Writing a  text vertically */
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
}